@page
@model AfcTestApp.Pages.IndexModel
@{
    ViewData["Title"] = "Умножение на 2";
}

<div style="font-family: Arial; padding: 20px;">

    <form method="post">
        <label for="InputNumber">Введите число</label>
        <input type="number" step="any" asp-for="InputNumber" style="margin: 10px 0; padding: 5px;" />

        <button type="submit">x2</button>
    </form>

    @if (Model.Result.HasValue)
    {
        <h2 style="color: rgb(0, 0, 0);"> @Model.InputNumber * 2 = @Model.Result</h2>
    }
</div>